doctype html
html
  head
    title Mi Página Express + Pug
    link(rel="stylesheet" href="/estilos.css")
  body
    h1 ¡Hola, Express con Pug!
    h2 Y esto es un título de nivel 2
    p Esto es un ejemplo mínimo.
    p Y el mensaje es: #{mensaje}

