body,html{
	background:lightgrey;
	font-family:sans-serif;
}
header,main,footer{
	background:white;
	width:800px;
	padding:20px;
	margin:auto;
}
header{
	text-align:center;
}
nav ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}
nav ul li {
	display:inline-block;
	padding:10px;
}
